<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <h2>Bounces: {{ currentBounces }}</h2>
  <h2>High Score: {{ maxBounces }}</h2>
  <div id="playArea">
    <app-ball [fps]="framesPerSecond" [gravity]="gravity" [playAreaBounds]="bounds" (ballClicked)="setClicks($event)"></app-ball>
  </div>
</div>

